*{
  margin: 0;
  padding: 0;
}
button{
  width: fit-content;
  background-color: #f28500;
  color: white;
  border: 1px solid #f28500;
  padding: 20px;
  border-radius: 2%;
}
span{
  color:#f28500;
}
.row1{
    height: 600px;
    width: 100%;
    content:'';
    background-image: url(../img/hero-bg.jpg);
    background-size: cover;
    background-repeat:  no-repeat;
    background-position:  center;
    /* filter:grayscale(50%); */
    /* position: absolute;
    top:0px;
    left: 0px;
    width:100%;
    height:100%;
    z-index:-1; */
    /* opacity: 0.5; */
    text-align: center;
    color: white;
    /* padding-top: 20px; */

}
.row1 .row{
  display: flex;
  flex-direction: row;
  position: fixed;
  width: 100%;
  background-color: transparent;
  transition: background-color 0.3s ease;
  z-index: 1000;
}
.top-row.scrolled {
  background-color: black;
}
.row1 .navbar ul{
  display: block;
  display: flex;
  flex-direction: row;
}
.row1 .drop{
  display: none;
}
.row1 .main:hover, .row1 li:hover,.row1 .main:hover{
  display: block;
  display: flex;
  flex-direction: column;
}
.row1 .container-fluid{
    height: 100%;
    width: 100%;
}
.row1 img{
   height: 53px;
   width: 170px;
   padding: 2%;
   object-fit: cover;
   margin-top: 10px;
}
/* .row1 .navbar{
  /* background-color: transparent; */
  /* color: white;
} */
nav {
  background-color: transparent;
  color: white;
  text-align: center;
  padding: 15px 0;
  text-decoration: none;
  
}

nav a {
  color: white;
  text-decoration: none;
  padding: 15px 20px;
  display: inline-block;
  text-decoration: none;
  font-weight: 700;
  font-size: 15px;
}

nav a:hover {
  /* background-color: #555; */
  color: #ff9101;
  text-decoration: none;
}

/* Dropdown styles */
.dropdown {
  display: inline-block;
  position: relative;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  width: 150px;
  border-radius: 10px;
  /* color: rgb(55, 55, 55); */
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1;
  color: gray;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-content a {
  color: rgb(110, 110, 110);
  padding: 12px 16px;
  display: block;
  border-radius: 10px;
  text-decoration: none;
}

.dropdown-content a:hover {
  background-color: white;
}
  .row1 .container-fluid .row12{
    text-align: center;
    padding-top: 15%;
    color: white;
  }
  .row1 .container-fluid .row12 button{
    color: white;
    border: 2px solid #f28500;
    padding: 10px 25px;
    border-radius: 30px;
    margin: 5px;
  }
  .row1 .container-fluid .row12 h6{
    font-size: 15px;
    font-weight: 700;
    letter-spacing: 3px;

  }
  .row1 .container-fluid .row12 h1{
    font-size: 60px;
    font-weight: 900;
    padding-bottom: 20px;
  }
  .row1 .container-fluid .row12 .but1:hover{
    background-color:rgb(40, 40, 40);
    
  }
  .row1 .row12 .but2:hover{
    background-color:#f28500 ;
  }
  .row1 .row .col-sm-2 a{
    color: white;
    text-decoration: none;
  }
  .row1 .row .col-sm-2 i{
    margin: 10px;
    padding: 20px;
  }

  /* row2 */
.row2{
    height: fit-content;
    width: 100%;
    text-align: center;
    padding: 40px 0px ;
    background-color: rgb(241, 241, 241);
}
.row2 .col-sm-3{
  margin: 40px;
}
.row2 i{
    font-size: 30px;
    width: 60px;
    height: 60px;
    text-align: center;
    text-decoration: none;
    background-color: transparent;
    color: #f28500;
    border: dotted #f28500;
    border-radius: 50%;
    padding: 10px;
    margin: auto;
}
.row3{
    height: fit-content;
    width: 100%;
}
.row3 .container-fluid{
    height: 100%;
    width: 100%;
    text-align: center;
    padding: 150px 50px;
}
.row3 .card{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.row3 .card:hover{
  border: transparent;
  box-shadow: none;
}
.row3 .hr1{
  width: 50px;
  height: 4px;
  background-color: #ff9101;
  text-align: center;
  margin-left: 48%;
  margin-top: -9px;
  border-radius: 10px;
}
.row3 .para{
  padding-bottom: 100px;
}
.row3 button{
  border-radius: 25px;
  width: 150px;
  height: fit-content;
  color: white;
  padding: 10px;
}
.row3 button:hover{
  background-color: black;
  color: #ff9101;
  border: none;
}
.row4{
  position: relative;
    height: fit-content;
    width: 100%;
    text-align: left;
    background-color: rgb(245, 245, 245);
    padding: 100px 20px;
    
}
.row4 .container-fluid{
    height: inherit;
    width: inherit;
    color: black;
    padding: 20px;
}
.row4 .row .col-sm-6 img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.row4 .round{
  height:120px;
  width: 120px;
  background-color: #f28500;
  border: 8px solid rgb(248, 187, 74);
  border-radius: 50%;
  text-align: center;
  padding: 10px;
  margin: -460px 0px 0px 100px;
  position: absolute;
  left: 16px;
  ;

}
.row4 .col-sm-2{
    border: 2px solid #f28500;
    margin: 5px;
    text-align: center;
    padding-top: 5px;
}
.row4 .col-sm-2 h1{
    color: #f28500;
}
.row4 button{
    width: 25%;
    height: fit-content;
    background-color: #f28500;
    color: white;
    border: 1px solid #f28500;
    padding: 10px;
    border-radius: 25px;
}

/* row5 */
.row5{
  width: 100%;
  height: fit-content;
  /* padding: 200px 400px; */
}
.row5 .container-fluid{
  padding: 200px 300px;
  text-align: center;
}
.row5 img{
  height: 100px;
  width: 100px;
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
}
.row5 h5, .row5 p{
  color: rgb(145, 145, 145);
  padding: 10px;
}
.row5 p{
  font-size: 20px;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-style: italic;
}
.row5 .container-fluid .fa{
  font-size: 40px;
  color: lightgrey;
}

/* row6 */
.row6{
  height: fit-content;
  width: 100%;

}
.row6 .container-fluid{
  height: 100%;
  width:100%;
}
.row6 img{
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.row6 button{
  border-radius: 35px;
}
.row6 .container-fluid .row{
  padding: 30px;
}
.row6 .container-fluid .row .col-sm-5{
  padding-top: 5%;
}
/* row7 */
.row7{
  /* height: 300px; */
  width: 100%;
  background-image: url('../img/1.jpg');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  padding: 50px 25px;
}
.row7 button{
  border-radius: 35px;
}
.row8{
  width: 100%;
  height: fit-content;
  position: relative;
  text-align: center;
  padding: 100px 10px;
}
.row8 .container-fluid{
  width: 100%;
  height: 100%;
}
.row8 p{
  padding: 20px 0px;
}
.row8 .col-sm-4{
  height: fit-content;
  width: 33.33%;
}
.row8 .col-sm-4 .container{
  width: 100%;
  height: 100%;
}
.row8 .col-sm-4 img{
  width: 100%;
  height: 100%;
  object-fit: contain;
  
}
.row8 .card-img-top{
  object-fit: cover;
  
}
.row8 .newshd{
  padding: 40px 350px;
}
.row8 .hr1{
  width: 50px;
  height: 4px;
  background-color: #ff8d01;
  text-align: center;
  margin-left: 48%;
  margin-top: -9px;
  border-radius: 10px;
}
.row8 .card-text{
  width: 100%;
  height: fit-content;
}
.row8 .row{
  text-align: left;
}
.row8 .col-sm-4:hover{
  border: transparent
}
.row8 .btn{
  background-color: transparent;
  color: black;
  border: none;
}
.row8 .btn:hover{
  background-color: transparent;
  color: #f28500;
}
.row8 .card{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  
}
.row8 .card, .card img{
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
}
.row8 .card:hover{
  border: none;
  box-shadow: none;
}
.row8 .admin{
  color: gray;
}
#but1{
  width: 20%;
  height:40px;
  background-color: #f28500;
  color: white;
  border: 1px solid #f28500;
  padding: 5px;
  border-radius: 20px;
  margin-top: 20px;
}
/* .row9 */
.row9{
  height: fit-content;
  width: 100%;
  background-color: rgb(245, 245, 245);
}
.row9 .owl-carousel {
  display: flex;
  align-items: center;
}

.row9 .owl-item {
  width: 25%; /* 4 items visible at once */
  border: 2px solid transparent; /* Border for all items */
}

/* .row9 .owl-item.active {
  border-color: #f00; /* Border color for the active item */
/* } */ 

.row9 .owl-item img {
  width: 80px;
  height: 180px;
  padding: 45px 20px 20px 20px;
}
.row9 .owl-carousel .owl-item img{
  width: 75%;
  display: block;
}
/* row10 */
.row10{
  height: fit-content;
  width: 100%;
  
  background-color: rgb(22, 22, 22);
  color: white;
}
.row10 .row{
  padding: 150px 30px;
}
.row10 .rowa1 .row{
  height: fit-content;
  padding: 0px 50px 20px 50px;
}
.row10 .container-fluid{
  height: inherit;
  width: inherit;
}
.row10 input[type="email"]{
  height: 40px;
  background-color: rgb(45, 45, 45);
  border: none;
}
.row10 .col-sm-3 button{
  height: 40px;
  background-color: rgb(45, 45, 45);
  color: #ff9101;
}
.row10 .hr1{
  width: 30px;
  height: 3px;
  background-color: #ff8d01;
  text-align: center;
  /* margin-left: 48%; */
  margin: 25px 0px;
  /* border-radius: 10px; */
}
.row10 a{
  text-decoration: none;
  line-height: 30px;
  color: white;
}
.row10 a:hover{
  text-decoration: none;
  color: white;
}
.row10 hr{
  color: white;
  height: .5px;
  width: 100%;
  opacity: .1;
}
.rowa1 i{
  margin: 5px;
}
/* ABOUT.HTML */
.rowa12{
  padding-top: 17%;
}
/* row2 */
.rowa2{
  height: fit-content;
  width: 100%;
  padding: 100px 0px;
}
.rowa2 i{
  font-size: 24px;
  width: 60px;
  height: 60px;
  text-align: center;
  text-decoration: none;
  background-color: transparent;
  color: #f28500;
  border: dotted #f28500;
  border-radius: 50%;
  padding: 14px;
  margin: auto;
}
.rowa2 h1{
  padding-bottom: 20px;
}
.rowa2 p{
  font-size: 14px;
}
.rowa2 img{
  height: 100%;
  width: 100%;
  object-fit: cover;
  /* padding: 20px 0px; */
  border-radius: 5px;
}
#col1{
  padding: 60px 30px 60px 60px;
}
/* row3 */
.rowa3 {
  height: fit-content;
  width: 100%;
  text-align: center;
  padding: 100px 50px 10px 50px;
}
.rowa3 .col-sm-4{
  height: fit-content;

}
.rowa3 img{
  height: 100%;
  width: 100%;
  object-fit: contain;
  border-radius: 10px;
}
.rowa3 i{
  font-size: 15px;
  width: 30px;
  height: 30px;
  text-align: center;
  text-decoration: none;
  background-color:#f28500;
  color: white;
  /* border: dotted #f28500; */
  border-radius: 50%;
  padding: 8px;
  margin: 0px 8px;
  transform: translate(0%, -150%);
}
.rowa3 i:hover{
  background-color: black;
  color:#f28500;
}
.rowa3 .col-sm-4 p{
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: gray;
  font-weight: 800;
}
.rowa3 .hr{
  width: 50px;
  height: 3px;
  background-color: #ff8d01;
  text-align: center;
  /* margin-left: 48%; */
  margin: auto;
  margin-top: -10px;
  /* border-radius: 10px; */
}
.rowa3 .para{
  padding: 20px 300px 80px 300px;
  font-size: 15px;
}

/* NEWS.HTML */
#rowbut{
  text-align: center;
  margin: auto;
  padding: 10% 35%;
}
#rowbut button{
  width: fit-content;
  height: fit-content;
  padding: 15px;
  margin: 10px;
  background-color: rgb(227, 227, 227);
  color: rgb(133, 133, 133);
  border: none;
  border-radius: 30px;

}
/* CONTACT.HTML */
.rowb1{
  height: fit-content;
  width: 100%;
  padding: 130px 60px;

}
.rowb1 input[type="text"]{
  width: 49%;
  height: 50px;
  padding-left: 15px;
  margin-bottom: 20px;
  border: 1px solid lightgray;
}
#message{
  width: 100%;
  height: 160px;
}
.rowb1 .col-sm-3{
  background-color: rgb(248, 246, 246);
  padding:30px;
  height: fit-content;
  
}
.rowb1 .col-sm-9{
  padding-right: 30px;
}
.rowb1 i{
  color: #f28500;
  font-size: 20px;
  padding-top: 6px;
}
.rowb1 h3{
  padding: 20px 0px;
}
.rowb1 input[type="submit"]{
  width: 15%;
  height: 50px;
  background-color: #f28500;
  color: black;
  border: none;
  border-radius: 30px;
  /* font-size: large; */
  font-weight: 700;
}
/* rowb2 */
.rowb2{
  height:fit-content;
  width: 100%;
  padding: 100px 0px;
  background-color: rgb(32, 30, 30);
  color: white;
}
.rowb2 .content{
  margin-left: 35%;
  /* margin-right: auto; */
}
.rowb2 i{
  color: #f28500;
}
/* rowb3 */
.rowb3{
  height: fit-content;
  width: 100%;

}
.rowb3 .container-fluid{
  height: inherit;
  width: 100%;
  margin: 0;
  padding: 0;
}
.rowb3 .container-fluid iframe{
  width: 100%;
  margin: 0;
  padding: 0;
}
/* SHOP.HTML */
.rowc1{
  height: fit-content;
  width: 100%;
  padding: 100px 0px 0px 0px;
}
.rowc1 .buttons{
  margin-left: 35%;
}
.rowc1 button{
  padding: 12px 20px;
  width: fit-content;
  background-color: transparent;
  color: rgb(0, 0, 0);
  border: solid 2px black;
  border-radius: 25px;
  font-weight: 700;
  margin:10px;
}
.rowc1 .active{
  background-color: #f28500;
  color: white;
}
#rowc1 .nav-pills .nav-link.active {
  background-color: #ff8d01;
  color: #fff;
}
#rowa{
  padding-bottom: 25px;
  margin-top: -40px;
}
.rowc1 .col-sm-4{
  display: none;
}
.fruit{
  display: none;
}
.show{
  display: block;
}
/* CART.HTML */
.rowd1{
  height: fit-content;
  width: 100%;
  padding: 120px 30px;
}
.rowd1 img{
  height: 50%;
  width: 40%;
  /* object-fit: cover; */
}
.rowd1 table{
  text-align: center;
  border: 1px solid rgb(231, 231, 231);
}
.rowd1 input[type="number"]{
  height: 40px;
  width: 100px;
  border:1px solid rgb(231, 231, 231);
  border-radius: 5px;
  padding-left: 10px;
}
.rowd1 .th{
  background-color: rgb(231, 231, 231);
  /* padding: 20px 30px;
  width: fit-content;
  height: fit-content; */
}
.rowd1 .td1{
  width: 70%;
}
.rowd1 .col-sm-4 .tleft{
  text-align: left;
}
.rowd1 td{
 height: fit-content;
 width: fit-content;
 padding: 20px 30px;
 border: 1px solid rgb(231, 231, 231);
}
.rowd1 button{
  width: fit-content;
  height: 50px;
  padding: 10px 15px;
  text-align: center;
  border: none;
  border-radius: 25px;
  margin: 30px 0px 40px 0px;
}
.rowd1 input[type="text"]{
  width: 100%;
  height: 50px;
  padding-left: 10px;
  border:1px solid rgb(231, 231, 231);
}
/* CHECKOUT.HTML */
.rowe1 {
  height: fit-content;
  width: 100%;
  text-align: left;
}
.rowe1 table{
  border: 1px solid rgb(231, 231, 231);
  /* padding: 15px; */
  margin: 20px;
  width: 100%;
}
.rowe1 tbody {
  width: 100%;
}
.rowe1 tr{
  width: 100%;
}
/* .rowe1 tbody tr input[type=text]{

  width: 100%;
} */
.rowe1 td{
  padding: 10px 30px;
  width: 100%;
}
.rowe1 th{
  background-color: rgb(231, 231, 231);
  border-radius: 3px;
  height: 60px;
  text-align: inherit;
}
.rowe1 button{
  background-color: transparent;
  color: black;
  border: none;
  width: 100%;
  text-align: left;
  padding-left: 25px;
}
.rowe1 i{
  color: #f28500;
  /* padding: 20px 0px; */
}
.rowe1 input[type="text"]{
  width: 100%;
  height: 50px;
  border: 1px solid rgb(218, 218, 218);
  border-radius: 3px;
  padding-left: 10px;
}
.rowe1 .col-sm-2 .th{
  background-color: rgb(231, 231, 231);
}
.rowe1 .col-sm-2 button{
  background-color: #f28500;
  width: fit-content;
  height: fit-content;
  padding: 10px 20px;
  color: white;
  border-radius: 20px;
  margin: 20px;
}
.rowe1 .col-sm-2 td{
  border: 1px solid rgb(231, 231, 231);
}
/* 404.HTML */
.rowf1{
  width: 100%;
  height: fit-content;
  padding: 150px 0px;
  text-align: center;
}
.rowf1 img{
  height: 150px;
  width: 150px;
  padding: 20px;
}
.rowf1 button{
  width: fit-content;
  height: 50px;
  padding: 10px 20px;
  border-radius: 30px;
}

@media (max-width: 767px) {
  .carousel-inner .carousel-item > div {
    display: none;
  }
  .carousel-inner .carousel-item > div:first-child {
    display: block;
  }
}



/* medium and up screens */
@media (min-width: 768px) {

  .carousel-inner .carousel-item-end.active,
  .carousel-inner .carousel-item-next {
    transform: translateX(25%);
  }

  .carousel-inner .carousel-item-start.active, 
  .carousel-inner .carousel-item-prev {
    transform: translateX(-25%);
  }
}


