<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script src="{% static 'js/script.js'%}"></script>
    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css" integrity="sha256-2XFplPlrFClt0bIdPgpz8H7ojnk10H69xRqd9+uTShA=" crossorigin="anonymous" />
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    
    <script src="https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <style>
        body{margin-top:20px;
background-color:#eee;
}

.card {
    box-shadow: 0 20px 27px 0 rgb(0 0 0 / 5%);
}
.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 0 solid rgba(0,0,0,.125);
    border-radius: 1rem;
}
h2 , p{
    text-align: left;
}
    </style>
</head>
<body>

<div class="container" id="invoice">
<div class="row">
        <div class="col-lg-12">
            
            <div class="card">
                <a href="{% url 'cart' %}" class="float-end font-size-15" style="color: black; align-items: flex-end; margin-left: 96%;"><i class="fa-solid fa-xmark" style="font-size: x-large; padding-top: 20%;"></i></a>
                <div class="card-body">
                    <div class="invoice-title">
                        
                        <h4 class="float-end font-size-15">Invoice #DS0204 <span class="badge bg-success font-size-12 ms-2">Paid</span></h4>
                        <div class="mb-4">
                           <h2  class="mb-1 text-muted"><img src="{% static 'images/logo.png' %}" alt="" style="height: 10%; width: 10%;"></h2>
                            <h2 class="mb-1 text-muted">FRUITKHA Fresh fruits online</h2>
                        </div>
                        <div class="text-muted">
                            <p class="mb-1">Banjara Hills, Hyderabad, Telangana</p>
                            <p class="mb-1"><i class="uil uil-envelope-alt me-1"></i> support@fruitkha.com</p>
                            <p><i class="uil uil-phone me-1"></i> 04985 229 999</p>
                        </div>
                    </div>

                    <hr class="my-4">

                    <div class="row">
                        <div class="col-sm-6">
                            <div class="text-muted">
                                {% for i in delivery_address %}
                                    <h5 class="font-size-16 mb-3">Billed To:</h5>
                                    <h5 class="font-size-15 mb-2">{{ i.name }}</h5>
                                    <p class="mb-1">{{ i.address}},{{ i.pincode }}</p>
                                    <p class="mb-1">{{ i.email}}</p>
                                    <p>{{ i.phone_number}}</p>
                                    {% endfor %}
                            </div>
                        </div>
                        <!-- end col -->
                        <div class="col-sm-6">
                            <div class="text-muted text-sm-end">
                                <div>
                                    <h5 class="font-size-15 mb-1">Invoice No:</h5>
                                    <p style="text-align: right;">#DZ0112</p>
                                </div>
                                <div class="mt-4">
                                    <h5 class="font-size-15 mb-1">Invoice Date:</h5>
                                    <p style="text-align: right;">{{ x }}</p>
                                </div>
                                <div class="mt-4">
                                    <h5 class="font-size-15 mb-1">Order No:</h5>
                                    <p style="text-align: right;">#1123456</p>
                                </div>
                            </div>
                        </div>
                        <!-- end col -->
                    </div>
                    <!-- end row -->
                    
                    <div class="py-2">
                        <h5 class="font-size-15">Order Summary</h5>

                        <div class="table-responsive">
                            <table class="table align-middle table-nowrap table-centered mb-0">
                                <thead>
                                    <tr>
                                        <th style="width: 70px;">No.</th>
                                        <th style="width: 220px;">Item</th>
                                        <th>Price</th>
                                        <th>Quantity</th>
                                        <th class="text-end" style="width: 120px;">Total</th>
                                    </tr>
                                </thead><!-- end thead -->
                                <tbody>
                                    {% for i in my_orders %}
                                    {% with forloop.counter as outer_counter %}
                                        {% for j in my_products %}
                                            {% for k in cartitem %}
                                            {% if i.item_id == j.id %}
                                                {% if i.item_id == k.item_id %}
                                                <tr>
                                                    <th scope="row">{{ outer_counter }}</th>
                                                    <td>
                                                        <div>
                                                            <h5 class="text-truncate font-size-14 mb-1">{{ j.item_name }}</h5>
                                                            
                                                        </div>
                                                    </td>
                                                    <td>{{ j.price }}</td>
                                                    <td>{{ i.quantity }}</td>
                                                    
                                                    <td class="text-end">{{ k.total }}</td>
                                                </tr>
                                            {% endif %}
                                            {% endif %}
                                            {% endfor %}
                                        {% endfor %}
                                        {% endwith %}
                                    {% endfor %}
                                    <!-- end tr -->
                                    <!-- <tr>
                                        <th scope="row">02</th>
                                        <td>
                                            <div>
                                                <h5 class="text-truncate font-size-14 mb-1">Stainless Steel S010</h5>
                                                <p class="text-muted mb-0">Watch, Gold</p>
                                            </div>
                                        </td>
                                        <td>$ 245.50</td>
                                        <td>2</td>
                                        <td class="text-end">$491.00</td>
                                    </tr> -->
                                    <!-- end tr -->
                                    <tr>
                                        <th scope="row" colspan="4" class="text-end">Sub Total</th>
                                        <td class="text-end">{{ subtotal }}</td>
                                    </tr>
                                    <!-- end tr -->
                                    <tr>
                                        <th scope="row" colspan="4" class="border-0 text-end">
                                            Total Items :</th>
                                        <td class="border-0 text-end">{{ quantity }}</td>
                                    </tr>
                                    <!-- end tr -->
                                    <tr>
                                        <th scope="row" colspan="4" class="border-0 text-end">
                                            Shipping Charge :</th>
                                        <td class="border-0 text-end">{{ shipping }}</td>
                                    </tr>
                                    <!-- end tr -->
                                    <!-- <tr>
                                        <th scope="row" colspan="4" class="border-0 text-end">
                                            Tax</th>
                                        <td class="border-0 text-end">$12.00</td>
                                    </tr> -->
                                    <!-- end tr -->
                                    <tr>
                                        <th scope="row" colspan="4" class="border-0 text-end">Total</th>
                                        <td class="border-0 text-end"><h4 class="m-0 fw-semibold">{{ grand_total }}</h4></td>
                                    </tr>
                                    <!-- end tr -->
                                </tbody><!-- end tbody -->
                            </table><!-- end table -->
                        </div><!-- end table responsive -->
                        <div class="d-print-none mt-4">
                            <div class="float-end">
                                <a href="javascript:window.print()" class="btn btn-success me-1"><i class="fa fa-print"></i></a>
                                <a href="#" class="btn btn-primary w-md" id="downloadPdf">Send</a>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- end col -->
    </div>
</div>
<script>
    document.getElementById('downloadPdf').addEventListener('click', function() {
      const invoiceElement = document.getElementById('invoice');
      const options = {
        margin: 1,
        filename: 'invoice.pdf',
        image: { type: 'jpeg', quality: 0.98 },
        html2canvas: { scale: 2 },
        jsPDF: { unit: 'in', format: 'letter', orientation: 'portrait' }
      };

      // Then call html2pdf with the element and options
      html2pdf().from(invoiceElement).set(options).save();
    });
  </script>

</body>
</html>